table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    font-size:xx-small;
    border: 1px solid #000;
    padding: 0 3px;
    text-align: center;
   
}
thead{
    border: 1px solid #000;
}
th {
    background-color: #83C8E4;
}

h6, h4{
    margin: 0;
}
h6{
    margin-top: 10px;
}

header{
    margin: 0;
    text-align: center;
}


  
  .card { 
    margin-top: 8%!important;
    display: inline-block;
    width: 31%; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin:0 5px;
  }
  
  .card:first-child {
    margin-left: 0; 
  }
  
  .card:last-child {
    margin-right: 0; 
  }
  #body-table{
    position: fixed;
    width : auto ;
    /* margin-bottom: -79.5em !important; */
    margin-top: 45%!important;

  }
  #pdfLogo {
    margin: -5% -5% 0 !important;
    width: 110% !important;
}

footer {
  position: fixed;
  bottom: 80px;
  height: auto; /* Change height to auto to accommodate the content */
  font-size: 8px;
  width: 100%; /* Ensure the footer spans the entire width of the page */
}


.signature {
  padding: 10px;
  border: 1px solid black;
  width: 25%; /* Set the width to 50% to make them side by side */
  float: left; /* Float the signature divs to the left */
  box-sizing: border-box; /* Include padding and border in the width */
  margin-right: 10px;
}

.signature h4 {
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

.signature h5 {
  text-align: center;
  margin: 2px;
  padding: 0;
}

#GrandTotal{
  position: fixed;
  bottom: 80px;
  width: 150px;
  right: 0px;
  font-weight: bolder;
}

